* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
}
a:hover {
	filter: invert(1) hue-rotate(180deg) contrast(75%) brightness(120%);
}

body {
	font-family: var(--main-font);
	letter-spacing: 0.01em;
	min-height: 100vh;
	background-color: var(--primary-background);
	color: var(--primary-foreground);
	padding-bottom: var(--footer-size);
	position: relative;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background-color: var(--primary-background);
}
main {
	max-width: min(60rem, calc(100vw - 2rem));
	margin: auto;
	grid-template-columns: 2fr 1fr;
	gap: 1rem;
}
footer {
	background-color: var(--secondary-background);
	color: var(--secondary-foreground);
	text-align: center;
	padding: 1rem;
	height: var(--footer-size);
	width: 100%;
	position: absolute;
	bottom: 0;
}

h1 {
	display: block;
	padding: 1rem 0.5rem 1rem 2rem;
	font-size: 2rem;
	font-weight: bold;
}

nav {
	padding: 1rem 2rem 1rem 0.5rem;
	display: flex;
	gap: 0.5rem;
}
nav a {
	display: block;
	padding: 0.5rem;
	background-color: var(--secondary-background);
	color: var(--secondary-foreground);
	text-decoration: none;
}
nav a:hover {
	filter: brightness(125%) contrast(75%);
}
nav a:active {
	filter: brightness(150%) contrast(66%);
}
#nav-button {
	display: none;
}

button {
	appearance: none;
	border-radius: 0.5rem;
	padding: 0.5rem;
	border: none;
	cursor: pointer;
	font-size: 1em;
}
button img {
	vertical-align: bottom;
}

input {
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: none;
	font-size: 1em;
}

main p {
	margin: 0.5rem 0;
	font-size: 14pt;
}

section {
	background-color: var(--secondary-background);
	padding: 2rem;
	border-radius: 1rem;
	margin-bottom: 2rem;
}
h2 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

section label {
	display: block;
	padding: 0.5rem 0;
	margin: 0.5rem 0;
}
section input {
	display: block;
}
section label:has([type="radio"], [type="checkbox"] ) {
	margin: 0;
}
section input[type="radio"], section input[type="checkbox"] {
	display: inline-block;
	margin-right: 0.25rem;
}
section button {
	display: block;
	background-color: var(--tertiary-background);
	color: var(--tertiary-foreground);
}

#roll-btns {
	margin-bottom: 0.5rem;
}
section #roll-btns button {
	display: inline-block;
	margin-right: 0.5rem;
}

.rules-wrapper {
	background-color: var(--primary-background);
	color: var(--primary-foreground);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.hide {
	display: none;
}

.dice-group, .history-entry, .favorites-entry {
	background-color: var(--tertiary-background);
	color: var(--tertiary-foreground);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}
#dice-builder .dice-group button, #history .history-entry button, #favorites .favorites-entry button {
	display: block;
	background-color: var(--secondary-background);
	color: var(--secondary-foreground);
}

#favorites, #history {
	margin-top: 0.5rem;
}
button+button {
	margin-top: 0.5rem;
}


.roll-max {
	display: inline-block;
	border-radius: 0.167em;
	box-shadow: 0 0 0.25em green, inset 0 0 0.25em green;
	font-weight: bold;
}
.roll-min {
	display: inline-block;
	border-radius: 0.167em;
	box-shadow: 0 0 0.25em red, inset 0 0 0.25em red;
	font-weight: bold;
}

@media screen and (max-width: 700px) {
	h1 {
		padding: 1rem 2rem;
	}

	nav {
		display: none;
		flex-direction: column;
		width: 100%;
		padding: 1rem 2rem;
	}
	nav.open {
		display: flex;
	}

	#nav-button {
		appearance: unset;
		display: block;
		font-size: 2rem;
		border: none;
		background-color: unset;
		color: inherit;
		width: 44px;
		height: 44px;
		margin-right: 2rem;
	}
	#nav-button::before {
		content: "☰";
	}
	#nav-button.open::before {
		content: "☓";
	}
}
@media screen and (max-width: 400px) {
	header {
		padding-top: calc(1rem + 44px);
	}

	h1 {
		width: 100%;
		text-align: center;
		order: 1;
	}

	#nav-button {
		position: absolute;
		top: 1rem;
		right: 0rem;
	}
}