:root {
	--main-font: "Noto Sans", "Helvetica", "Arial", sans-serif;

	--primary-background: #001010; /* 180H */
	--primary-foreground: #80E0E0; /* 180H */
	--secondary-background: #204030; /* 150H */
	--secondary-foreground: #20FFE0; /* 172H */
	--tertiary-background: #000000; /* No Hue */
	--tertiary-foreground: #C0F0F0; /* 192H */

	--primary-border: var(--primary-foreground) solid 1px;
	--secondary-border: var(--secondary-foreground) solid 1px;
	--tertiary-border: var(--tertiary-foreground) solid 1px;

	--footer-size: 5rem;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul {
	padding: revert;
}
a {
	color: var(--primary-foreground);
}

body {
	font-family: var(--main-font);
	min-height: 100vh;
	background-color: var(--primary-background);
	color: var(--primary-foreground);
	padding-bottom: var(--footer-size);
	position: relative;
}
header {
	background-color: var(--secondary-background);
	color: var(--secondary-foreground);
}

footer {
	background-color: var(--secondary-background);
	color: var(--secondary-foreground);
	text-align: center;
	padding: 1rem;
	height: var(--footer-size);
	width: 100%;
	position: absolute;
	bottom: 0;
}

h1 {
	display: block;
	text-align: center;
}

@keyframes fade-in {
	from {opacity: 0}
	to {opacity: 1}
}

img {
	display: block;
	width: 400;
	height: auto;
	margin: 2rem auto;
	background-color: #000000;
	animation-name: fade-in;
	animation-duration: 3s;
}